.content-box {
	-moz-box-flex: 1;
}

#NightlyTesterOptions {
	padding: 0;
	width: 40em;
	height: 35em;
}

#NightlyTesterOptions radio[pane=paneTitle] {
  	list-style-image: url("chrome://nightly/content/brand/icon.png");
}

#NightlyTesterOptions radio[pane=paneExtensions] {
  	list-style-image: url("chrome://nightly/skin/options/extension.png");
}
